@model IEnumerable<CadastroCliente.Application.Models.ApplicationUsuario>

@{
    ViewData["Title"] = "Usuário";
}

<p>
    <a method="post" asp-action="UsuarioCriar">Criar novo usuário</a>
</p>
<p>
    <a method="post" asp-action="UsuarioAlterar">Alterar usuário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioEmail)
                </td>
                <td>
                    <a asp-action="UsuarioAlterar" asp-route-id="@item.UsuarioId" class="btn btn-sm btn-success">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a asp-action="ApagarUsuario" asp-route-id="@item.UsuarioId" class="btn btn-sm btn-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (ViewBag.MensagemDeErro != null)
{
    <br />
    <div class="alert alert-danger">
        @ViewBag.MensagemDeErro
    </div>
}